@{
    ViewBag.Title = "Underconstruction";
}

<!DOCTYPE html>

<html>
<head>
<title>Valcans-Suits</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    
    <style>
        .backcolor {
        background-color :#6B6B6B
        
        }
        .sidebar {
            background-color:#2B2B2B

        }
        .textcolor {
        
            color:whitesmoke
        }
</style>
    
</head>
    
<body>
      
<div class="row"  >
    <div class="col-md-3 " >

        <div class="list-group"  >
                   <a href="#" class="list-group-item ; sidebar" style="color:wheat"><h4>Catagories:</h4></a>
            <a href="~/PentShirt/PentShirt" class="list-group-item ; backcolor" style="color:wheat">Pent Shirts</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Dulha Dress</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">3 piece suit</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">2 piece suit</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Shalwaar kameez</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Sherwani</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Vas coat</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Safari suit</a>
            <a href="~/Underconstruction/Underconstruction" class="list-group-item ; backcolor" style="color:wheat">Kurta</a>
    
   
        
        </div>
        </div>
   
        <div class="col-md-6 " >

         <img src="~/imgs/Comingsoon.jpg" height="575" width="1000" />
     </div>
   

     </div>
</body>
 </html>