@{
    ViewBag.Title = "Home";
}
<html>
<head>
<title>Valcans-Suits</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/bjqs.css" rel="stylesheet" />
    <link href="~/Content/themes/demo.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bjqs-1.3.js"></script>
    <script src="~/Scripts/bjqs-1.3.min.js"></script>

    <style>
        .backcolor {
        background-color :#353533
        
        }
        .sidebar {
            background-color:#FF5930

        }
        .textcolor {
        
            color:whitesmoke
        }



    </style>


    
    <script>
        jQuery(document).ready(function ($) {
  
            $('#banner-fade').bjqs({
                'height': 600,
                'width': screen.width,

                'responsive': true,
                nexttext: '',
                // Text for 'next' button (can use HTML)
                prevtext: '',
                // Text for 'previous' button (can use HTML) 
                showmarkers: false, // Show individual slide markers 
                showcontrols: false, // show next and prev controls 
                centercontrols: false, // center controls verically 
            }); $('.myMenu > li').bind('mouseover', openSubMenu); 
        $('.myMenu > li').bind('mouseout', closeSubMenu);
        function openSubMenu() 
        { $(this).find('ul').css('visibility', 'visible'); };
        function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };


       
        });




        jQuery(document).ready(function ($) {

            $('#bann-fade').bjqs({
                'height': 600,
                'width': screen.width,

                'responsive': true,
                nexttext: '',
                // Text for 'next' button (can use HTML)
                prevtext: '',
                // Text for 'previous' button (can use HTML) 
                showmarkers: false, // Show individual slide markers 
                showcontrols: false, // show next and prev controls 
                centercontrols: false, // center controls verically 
            }); $('.myMenu > li').bind('mouseover', openSubMenu);
            $('.myMenu > li').bind('mouseout', closeSubMenu);
            function openSubMenu()
            { $(this).find('ul').css('visibility', 'visible'); };
            function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };



        });


        jQuery(document).ready(function ($) {

            $('#ban-fade').bjqs({
                'height': 600,
                'width': screen.width,

                'responsive': true,
                nexttext: '',
                // Text for 'next' button (can use HTML)
                prevtext: '',
                // Text for 'previous' button (can use HTML) 
                showmarkers: false, // Show individual slide markers 
                showcontrols: false, // show next and prev controls 
                centercontrols: false, // center controls verically 
            }); $('.myMenu > li').bind('mouseover', openSubMenu);
            $('.myMenu > li').bind('mouseout', closeSubMenu);
            function openSubMenu()
            { $(this).find('ul').css('visibility', 'visible'); };
            function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };



        });




        jQuery(document).ready(function ($) {
            $('#bann-fade').bjqs({
                'height': 500,
                'width': screen.width,
                'responsive': true,
                nexttext: '',
                // Text for 'next' button (can use HTML)
                prevtext: '',
                // Text for 'previous' button (can use HTML) 
                showmarkers: false, // Show individual slide markers 
                showcontrols: false, // show next and prev controls 
                centercontrols: false, // center controls verically 
            }); $('.myMenu > li').bind('mouseover', openSubMenu);
            $('.myMenu > li').bind('mouseout', closeSubMenu);
            function openSubMenu()
            { $(this).find('ul').css('visibility', 'visible'); };
            function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };
        });


        jQuery(document).ready(function ($) {
            $('#ban-fade').bjqs({
                'height': 500,
                'width': screen.width,
                'responsive': true,
                nexttext: '',
                // Text for 'next' button (can use HTML)
                prevtext: '',
                // Text for 'previous' button (can use HTML) 
                showmarkers: false, // Show individual slide markers 
                showcontrols: false, // show next and prev controls 
                centercontrols: false, // center controls verically 
            }); $('.myMenu > li').bind('mouseover', openSubMenu);
            $('.myMenu > li').bind('mouseout', closeSubMenu);
            function openSubMenu()
            { $(this).find('ul').css('visibility', 'visible'); };
            function closeSubMenu() { $(this).find('ul').css('visibility', 'hidden'); };
        });





    </script>

    
</head>


<body>
      
    
    
    
      
     <div class="divider"></div>
    
     <div class="container">
        <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        <!-- Wrapper for slides -->
        
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/imgs/sherwani2.jpg" />
                    <div class="carousel-caption">

                    </div>
                </div>
    
                <div class="item">
                    <img src="~/imgs/sherwani4.jpg" />
                    <div class="carousel-caption">

                    </div>
                </div>

            </div>

       <!-- Controls -->
        
            <a class="left carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>  












     <div class="row no-gutter">

         <div class="col-sm-2 col-md-2">

         </div>

         <div class="col-sm-4 col-md-4">
              <div id="carousel-example-generic" style="margin-top:0px" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
     <img src="~/imgs/sherwani7.jpg" />
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item active">
     <img src="~/imgs/shirt1.jpg" />
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

         </div>

          <div class="col-sm-4 col-md-4">
               <div id="carousel-example-generic" style="margin-top:0px" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item next left">
      <img src="~/imgs/shirt3.jpg" />
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item active left">
      <img src="~/imgs/shirt2.jpg" />
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="http://valsan-suitings.apphb.com/#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

         </div>
         
         <div class="col-sm-2 col-md-2">
          
          </div>    

     </div>
    
    
    
    
    
    
    
    
      

@*     <div class="row">
         
         <div class="col-md-12">

             <div id="banner-fade">

               <ul class="bjqs">

          <li>
             <img src="~/imgs/pic1.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic2.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic3.jpg" />
          </li>
            
        </ul>
        <!-- end Basic jQuery Slider -->

      </div>
      <!-- End outer wrapper -->

             </div>
         </div>



    <div class="row no-gutter">
         
         <div class="col-md-6">

             <div id="bann-fade">

               <ul class="bjqs">

          <li>
             <img src="~/imgs/pic1.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic2.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic3.jpg" />
          </li>
            
        </ul>
        <!-- end Basic jQuery Slider -->

      </div>
      <!-- End outer wrapper -->

             </div>

        <div class="col-md-6">

             <div id="ban-fade">

               <ul class="bjqs">

          <li>
             <img src="~/imgs/pic1.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic2.jpg" />
          </li>
          <li>
             <img src="~/imgs/pic3.jpg" />
          </li>
            
        </ul>
        <!-- end Basic jQuery Slider -->

      </div>
      <!-- End outer wrapper -->

             </div>


         </div>*@






</body>

</html>

